# Environment variables for development
NODE_ENV=development
PORT=3002
CLIENT_URL=http://localhost:5173

# MongoDB Atlas connection
MONGODB_URI=mongodb+srv://TickyTestUser:kGg2Wm9B4W5yvGU1@jdtickytest.uybysp2.mongodb.net/word-guesser?retryWrites=true&w=majority
